/* 
    COLORS
    - Light Green: #7ED56F
    - Medium green : #55C57A
    - Dark Green : #28B485
*/
@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveBottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveBottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.btn:link,
.btn:visited,
.btn {
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  letter-spacing: 2px;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 10px 15px #777;
          box-shadow: 0px 10px 15px #777;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0px 1px 10px #777;
          box-shadow: 0px 1px 10px #777;
}

.btn-white {
  background: #fff;
  padding: 15px 50px;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  -webkit-transform: scale(1.1) scale(1.4);
          transform: scale(1.1) scale(1.4);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveBottom 2s ease-out 0.75s;
          animation: moveBottom 2s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/header-bg-banner.jpg") no-repeat;
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/header-bg-banner.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header .logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
}

.header .logo {
  height: 35px;
}

.header .text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .text-box .heading-primary {
  color: #fff;
  margin-bottom: 60px;
}

.header .text-box .heading-primary .heading-primary-main {
  display: block;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 35px;
  font-weight: 400;
  -webkit-animation: moveRight 2s ease-out;
          animation: moveRight 2s ease-out;
}

.header .text-box .heading-primary .heading-primary-sub {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 16.5px;
  font-weight: 400;
  -webkit-animation: moveLeft 2s ease-out;
          animation: moveLeft 2s ease-out;
}
/*# sourceMappingURL=main.css.map */