@import '_variables';
@import '_animation';
@import '_buttons';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}
.header {
    height: 95vh;
    background: linear-gradient(to right bottom, 
        rgba(85, 197, 122, 0.8), 
        rgba(40, 180, 133, 0.8)), 
        url('../img/header-bg-banner.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    // clip-path: polygon(x y, x y, x y);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;
    backface-visibility: hidden;

    .logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
        cursor: pointer;
    }
    .logo {
        height: 35px;
    }

    .text-box {
        position: absolute;
        top: 35%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        .heading-primary {
            color: $white;
            margin-bottom: 60px;
    
            .heading-primary-main {
                display: block;
                font-size: 60px;
                text-transform: uppercase;
                letter-spacing: 35px;
                font-weight: 400;
                animation: moveRight 2s ease-out;
            }
            .heading-primary-sub {
                display: block;
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: 16.5px;
                font-weight: 400;
                animation: moveLeft 2s ease-out;
            }
        }
    }
}

